@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: #f9f9f9;
  line-height: 1.6;
  min-height: 100vh;
  font-size: clamp(1rem, 4vw, 1.2rem);
  color: #6b3d3d;
  letter-spacing: 1px;
  text-transform: uppercase;
}

q {
  font-style: italic;
  margin-bottom: 80px;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Parisienne', cursive;
  font-size: clamp(2.5rem, 8vw, 3.5rem);
  margin-bottom: 1.5rem;
  line-height: 1em;
  text-transform: none;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

main {
  display: none;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 3.5rem 5rem;
  text-align: center;
  background: linear-gradient(90deg, transparent, #eeeeeecc 15%, #eeeeeecc 85%, transparent);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.02);
}

a {
  /* text-decoration: unset; */
  color: unset;
}

hr {
  margin: 2rem;
  border-width: 0;
  height: 1px;
  background: radial-gradient(circle, #6b3d3d, transparent);
}

table {
  margin-top: 1rem;
  width: 100%;
}

td,
th {
  width: 50%;
  padding: 0 0.7rem;
}

td {
  text-align: left;
}

th {
  text-align: right;
}

.flower-decor {
  position: fixed;
  max-width: 200px;
  width: 30vw;
  aspect-ratio: 880/1070;
  background-image: url('./f2.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  pointer-events: none;
}

.top-left {
  top: 0;
  left: 0;
  transform: scaleX(-1);
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: scaleY(-1);
}

.password-protected {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-form {
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  margin-bottom: 10vh;
  border-radius: 8px;
  max-width: 400px;
}

#ceremonyDate,
#ceremonyTime,
#confirmation,
.num,
.bold {
  font-family: 'Cinzel', serif;
}

.bold {
  font-weight: bold;
}

#ceremonyDate {
  font-size: clamp(1.7rem, 6vw, 2rem);
  margin: 0.5em 0;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.date-input {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 20px 0;
  font-family: 'Inter', sans-serif;
}

.submit-btn {
  background: #222;
  color: #fff;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  letter-spacing: 2px;
}

#map {
  width: 100%;
  aspect-ratio: 16/9;
  min-height: 15rem;
  border: 0;
  border-radius: 8px;
}